<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC
  "-//APACHE//DTD LOG4J 1.2//EN" "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd" >
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

<!-- setting of TRACE, DEBUG, INFO, WARN, ERROR, FATAL log levels for a class or category -->
	<!-- Appenders -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p: %c - %m%n" />
		</layout>		
	</appender>
<!-- 
  	<appender name="DB" class="org.apache.log4j.jdbcplus.JDBCAppender">
	   <param name="sql" value="INSERT INTO idiwviap.DASHBOARD_LOG(priority, category, thread, message, throwable, the_time) VALUES ('@PRIO@', '@CAT@', '@THREAD@', '@MSG@', '@THROWABLE@', current timestamp )" />	   
	   <param name="url" value="jdbc:db2://10.148.77.90:50013/iapaft" />
	   <param name="username" value="idiwviap" />
	   <param name="password" value="farm1234" />
	   <param name="dbclass" value="com.ibm.db2.jcc.DB2Driver" />
	   <param name="quoteReplace" value="true"/>
 	   <param name="Threshold" value="error"/>  	   
	   <param name="throwableMaxChars" value="3000"/>
	   <param name="layoutPartsDelimiter" value="#-#"/>
	   <layout class="org.apache.log4j.PatternLayout">
	      <param name="ConversionPattern" value="[%t] %m#-##-#%d{dd.MM.yyyy}#-#%d{HH:mm:ss}" />
	   </layout>	   
	</appender>
 
	<appender name="logfile" class="org.apache.log4j.RollingFileAppender">
		<param name="file" value="C:/temp/DashboardTomcatLog.log" />
		<param name="append" value="true" />
		<param name="maxFileSize" value="200KB" />
		<param name="maxBackupIndex" value="1" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p: %c - %m%n" />
		</layout>		
	</appender>
	
	<appender name="debuglogfile" class="org.apache.log4j.RollingFileAppender">
		<param name="file" value="C:/Users/uswjym99/Documents/ADE_web/logs/SpringIntegrationDebug.log" />
		<param name="append" value="true" />
		<param name="maxFileSize" value="200KB" />
		<param name="maxBackupIndex" value="1" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p: %c - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="info" />
			<param name="LevelMax" value="info" />
		</filter>
	</appender>
	
	<appender name="errorlogfile" class="org.apache.log4j.RollingFileAppender">
		<param name="file" value="C:/Users/uswjym99/Documents/ADE_web/logs/SpringIntegrationError.log" />
		<param name="append" value="true" />
		<param name="maxFileSize" value="200KB" />
		<param name="maxBackupIndex" value="1" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p: %c - %m%n" />
		</layout>		
	</appender>
	-->
	<!-- Application Loggers -->
	
	<!-- 3rdparty Loggers -->
	<logger name="org.springframework.core">
		<level value="info" />
	</logger>
	<logger name="org.springframework.web">
		<level value="info" />
	</logger>
	
	<logger name="org.springframework.security">
		<level value="debug" />
	</logger>
	
	<!--  -->
	<logger name="org.springframework">
		<level value="info" />
	</logger>
	
	
	<logger name="org.hibernate">
		<level value="info" />
	</logger>
	
	<logger name="org.jbpm">
		<level value="info" />
	</logger>
	
	<logger name="org.drools">
		<level value="info" />
	</logger>

	<!-- Controls whether SQL is logged or not -->
	<logger name="org.hibernate.SQL">
		<level value="debug" /> 
	</logger>  
	
	<!-- Controls whether SQL parameter values are logged or not.--> 
	<logger name="org.hibernate.type">
		<level value="info" />
	</logger> 

	

	<!-- Root Logger -->
	<root>
		<priority value="info" />
		<appender-ref ref="console" />
	</root>
	
</log4j:configuration>
